body{
    background-image:url("http://localhost/LoveLetter/upload/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}



table{
    border-style:solid; 
    border-width: 2px;
    border-collapse:collapse
}

tr{
    border-style:solid; 
    border-width: 2px;
}

th{
    text-align: center;
    font-family: Lucida Sans;
    font-style: italic;
    border-style:solid; 
    border-width: 2px;
}

td{
    text-align: center;
    border-style:solid; 
    border-width: 2px;
    font-style: italic;
    font-weight: bold;
    font-family: Lucida Sans;
}

h1{
    text-align: center;
    color: #F1C40F;
    font-family: Lucida Sans;
    font-style: italic;
    text-decoration: underline;
}

h2{
    font-family: Lucida Sans;
    font-style: italic;
}

p{
    font-family: Lucida Sans;
    font-style: italic;
    font-weight: bold;
}

#jaune{
    border-color: #F1C40F;
    font-family: Lucida Sans;
    font-weight: bold;
    color: #F1C40F;
    font-style: italic;
}


caption{
    border-width: 2px;
    font-family: Lucida Sans;
    font-weight: bold;
    font-style: italic;
}


#box1 {
	position:absolute;
	top: 75px;
	left: 75px;
}

#box2 {
	position:absolute;
	top: 75px;
	right: 75px;
}

#box3 {
	position:absolute;
	bottom: 75px;
	right: 75px;
}

#box4 {
	position:absolute;
	bottom: 75px;
	left: 75px;
}

#chat{
    background-image:url(http://localhost/LoveLetter/upload/fond_tableau.png);
}

