body{
    background-image:url("http://localhost/LoveLetter/upload/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}



table{
    border-style:solid; 
    border-width: 2px;
    border-collapse:collapse
}

tr{
    border-style:solid; 
    border-width: 2px;
}

th{
    text-align: center;
    font-family: Lucida Sans;
    font-style: italic;
    border-style:solid; 
    border-width: 2px;
}

td{
    text-align: center;
    border-style:solid; 
    border-width: 2px;
    font-style: italic;
    font-weight: bold;
    font-family: Lucida Sans;
}

h1{
    text-align: center;
    color: #F1C40F;
    font-family: Lucida Sans;
    font-style: italic;
    text-decoration: underline;
}

h2{
    font-family: Lucida Sans;
    font-style: italic;
}

p{
    font-family: Lucida Sans;
    font-style: italic;
    font-weight: bold;
}

#jaune{
    border-color: #F1C40F;
    font-family: Lucida Sans;
    font-weight: bold;
    color: #F1C40F;
    font-style: italic;
}


caption{
    border-width: 2px;
    font-family: Lucida Sans;
    font-weight: bold;
    font-style: italic;
}


.box41 {
	position:absolute;
	top: 10px;
	left: 10x;
}

.box42 {
	position:absolute;
	top: 10px;
	right: 10px;
}

.box43 {
	position:absolute;
	bottom: 10px;
	right: 10px;
}

.box44 {
	position:absolute;
	bottom: 10px;
	left: 10px;
}

.box21 {
    position:absolute;
    left:10px;
    top:10%;
}

.box22 {
    position:absolute;
    right:10px;
    top:10%;
}

.box31{
    position:absolute;
    left:10px;
    top:10px;
}

.box32{
    position:absolute;
    right:10px;
    top:10px;
}

.box33{
    position:absolute;
    right:10px;
    bottom:10px;
}

.boxmenu2 {
	position:absolute;
	top:1%;
	left: 40%;
}
   
.boxmenu3 {
	position:absolute;
	bottom:15%;
	left: 5%;
}

.boxmenu4 {
	position:absolute;
	bottom: 75%;
	left: 40%;
}

.card2{
    height:145px; 
    width:93px;
}

.card3{
    height:160px; 
    width:110px;
}

.card4{
     height:145px; 
     width:90px;
}

.boxchat {
        position:absolute;
        bottom: 47%;
        left: 40%
}

#boxquit {
    position:absolute;
    bottom: 1%;
    left: 47%;
}

#chat{
    background-image:url(http://localhost/LoveLetter/upload/fond_tableau.png);
}

#boxdeco{
    position:absolute;
    top: 1px;
    right: 1px;
}

#boxid{
    position:absolute;
    top: 0px;
    left: 1px;
}

#pioche{
    background-image:url(http://localhost/LoveLetter/upload/backCard.png);
    background-size:cover;
}